[package]
name = "bootx64"
version = "0.1.0"
authors = ["toku-sa-n <tokusan441@gmail.com>"]
edition = "2018"
license = "GPL-3.0-or-later"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
log = "0.4.11"
uefi = { version = "0.7.0", features = ["logger"] }
uefi-services = "0.4.0"
common = { path = "../common/" }
x86_64 = "0.13.0"
elf_rs = "0.1.3"
os_units = "0.2.6"
