[package]
name = "ramen"
version = "0.3.0"
authors = ["toku-sa-n <tokusan441@gmail.com>"]
edition = "2018"
license = "GPL-3.0-or-later"

[features]
default = []
qemu_test = []

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[profile.dev]
opt-level = 0

# I don't know why lto = false causes some problems like not print the correct words on the screen.
lto = true

[profile.release]
opt-level = 3
lto = true

[lib]
name = "ramen_os"
crate-type = ["staticlib"]
test = false
bench = false

[dependencies]
common = { path = "../common" }
conquer-once = { version = "0.2.1", default-features = false }
spinning_top = { version = "0.2.2", features = ["nightly"] }
qemu-exit = "0.1.3"
x86_64 = "0.11.4"
linked_list_allocator = "0.8.0"
log = "0.4.11"
vek = { version = "0.12.0", default-features = false, features = ["libm"] }
rgb = "0.8.25"
uefi = "0.5.0"
crossbeam-queue = { version = "0.2.3", default-features = false, features = ["alloc"] }
futures-util = { version = "0.3.4", default-features = false, features = ["alloc"] }
screen_layer = "0.1.0"
