[package]
name = "common"
version = "0.1.0"
authors = ["toku-sa-n <tokusan441@gmail.com>"]
edition = "2018"
license = "GPL-3.0-or-later"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
uefi = "0.6.0"
x86_64 = "0.12.0"
os_units = "0.2.0"
vek = { version = "0.12.0", default-features = false, features = ["libm"] }
