# SPDX-License-Identifier: GPL-3.0-or-later

name: Test

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: -D warnings

jobs:
  build:

    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:
    - uses: actions/checkout@v2

    - name: Install rust nightly
      uses: actions-rs/toolchain@v1.0.6
      with:
        toolchain: nightly
        components: clippy, rustfmt, rust-src
        override: true

    - name: Run rustfmt with check mode
      run: |
        shopt -s globstar
        rustfmt **/*.rs --check

    - name: Run clippy
      run: checkers/run_clippy.sh

    - name: Run udeps
      run: |
        cargo install cargo-udeps
        checkers/detect_unused_dependencies.sh

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install nasm mtools qemu-system-x86 ovmf

    - name: Copy OVMF_*
      run: cp /usr/share/OVMF/OVMF_* .

    - name: Test
      timeout-minutes: 5
      run: make test
